# Terraform files
*.tfstate
*.tfstate.*
*.tfstate.*.backup
.terraform/
.terraform.lock.hcl
*.tfplan
crash.log
crash.*.log
*.zip
*.jar

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
.env
.env.local

# Project specific
.terraform.tfvars
*.tfvars
!dev.tfvars
!example.tfvars
